@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display:none;
}

html {
    background-color: #0e0b23;
}